html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
}

.app {
  border-radius: 10px;
  border: 1px solid white;
  background-color: #232d3f;
  width: 50rem;
  height: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainTitle {
  text-align: center;
  color: #008170;
  font-family: "Abril Fatface";
  font-size: 55px;
}

.conversion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

input {
  width: 200px;
  height: 2.3rem;
  border-radius: 10px;
  text-align: center;
  font-family: "Abril Fatface";
  font-size: 26px;
  background-color: #005b41;
  color: white;
  transition-duration: 200ms;

  transition-timing-function: ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: #008170;
  }
}

select {
  font-family: "Abril Fatface";
  height: 2.3rem;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  font-size: 26px;
  background-color: #005b41;
  transition-duration: 200ms;
  color: white;
  transition-timing-function: ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: #008170;
  }
}

.result {
  border: 1px solid black;
  text-align: center;
  margin: 30px auto;
  width: 30rem;
  & > p {
    display: inline-block;
    font-family: "Abril Fatface";
    font-size: 32px;
  }
  background-color: #008170;
  border-radius: 10px;
}

.resultCurrency {
  color: white;
  margin-left: 20px;
}

.clear {
  background-color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid black;
  font-family: "Abril Fatface";
  margin: 0;
  padding: 0;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: #008170;
    color: white;
  }
  float: right;
}
